<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row panel-title">
            <span class="pull-left title">Contacts</span>
            <a class="btn btn-success pull-right" [routerLink]="['new']">New Contact</a>
        </div>
    </div>
    <div class="panel-body row">
        <div class="col-xs-12">
            <ul class="list-group">
                <app-contact-item *ngFor="let contact of contacts" [contact]="contact" (click)="onSelected(contact)"></app-contact-item>
            </ul>
        </div>
    </div>
</div>

