<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row panel-title">
      <span class="pull-left title">{{selectedContact?.name}}</span>
      <img class="pull-right" src="{{selectedContact?.imagePath}}">
      <a class="btn btn-primary pull-right">Edit</a>
      <a class="btn btn-danger pull-right">Delete</a>
    </div>
  </div>
  <div class="panel-body row">
    <div class="col-xs-12">
      <h5>Email: <span>{{selectedContact?.email}}></span></h5>
      <h5>Phone: <span>{{selectedContact?.phone}}</span></h5>
    </div>
  </div>
</div>


